.pay_holder{
    min-width: 20vw;
    height: 100vh;
    background: #a1a0a0;
}
.logo{
    height: 20vh;
    background: url("../../assets/logo.png") no-repeat center center/50%;
    margin: 0 auto;
    margin-top: 5vh;
}
.list_of_options {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background: #444;
    border-radius: 5px;
    margin-top: 4vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px 5px;
    padding: 10px ;
}
.option-btn {
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    text-align: center;
    background: #444;
    color: #fff;
    cursor: pointer;
    position: relative; 
    transition: background 0.5s ease-in;
}
.option-btn.active{
    background: #000;
}