


.holder_components{
    width:20vw;
    max-height: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second_componenet{
    width: 80vw;
    height: 100vh;
}