.nav_area{
    width: 80vw;
    height: 10vh;
    /* background: red; */
    display: flex;
}

/* design for add hand logo */
.nv-options{
    width: 80vw;
    height: 10vh;
    background: #8b7b7b;
    text-align:center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.Add-hand{
    padding: 20px 60px;
    border-radius: 15px;
    border: none;
    width: 25vw;
    transition: background 0.2s ;
    position: relative;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.Add-hand:hover{
    background: #ce8526;
    cursor: pointer;
}


/* partie de score en nav*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.coins{
    width: 20vw;
    height:10vh;
    background: #d3d3d3d3;
    float: right;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.score span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000;
    background: #d3d3d3d3;
}

.coin_count{
    width: 100%;
    height: 50%;
    background: #d3d3d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000;
}

.coin_pic{
    width: 30%;
    height: 50%;
    background: #d3d3d3d3;
    border-radius: 10px;
}
